{
  "sourceMap": true,
  "moduleIds": false,
  "comments": false,
  "compact": false,
  "code": true,
  "presets": [ "es2015-loose", "stage-0", "stage-1"],
  "plugins": [
    "transform-es2015-modules-amd",
    "transform-es2015-modules-commonjs",
    "transform-es2015-modules-systemjs"
  ]
}